.container-carta{
    position: relative;
    width: 100%;
    height: 50%;
}

.carta{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.carta:hover{
    transform: rotateY(180deg);
}

.carta-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: currentColor;
    color: grey;
}

.carta-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    color: currentColor;
    transform: rotateY(180deg);
}

.img-descripcion {
}

#emoji-agricultor {
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion-agricultor;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px black;
    transition: transform 0.3s ease-in-out;
}

#emoji-voluntario {
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion-voluntario;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px black;
    transition: transform 0.3s ease-in-out;
}

#opciones-registrarse {
    padding-top: 5%;
}

#registrarse-div {
    padding-top: 5%;
    background-color: #5B7C2B;
    padding-bottom: 8%;
    animation-iteration-count: 1;
    animation-name: animacion-registrarse;
    animation-duration: 1.5s;
    color: #fff;
}

#h3-agricultor {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: animacion-agricultor;
}

#h3-voluntario {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: animacion-voluntario;
}


@keyframes animacion-registrarse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animacion-agricultor {
    0% {
        opacity: 0;
        margin-right: 30%;
    }

    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes animacion-voluntario {
    0% {
        opacity: 0;
        margin-left: 30%;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}