/*ordenar css*/


/* Aquí el estilo de pantallas grandes*/
body {
    font-family: sans-serif;
    background-color: white;
}

#logo {
    width: 200px;
    height: auto;


}

img {
    max-width: 100%;

}

#divlogo {
    margin-left: 5%;
    text-align: left;
    width: 100%;
}

#apartados {
    margin-top: 10%;
    margin-right: 5%;
    text-align: right;


}

#divimagen1 {
    height: 550px;
    margin-left: 5%;

}

#imagen1 {
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 500px;
    margin-top: 8%;
    animation-iteration-count: 1;
    animation-name: animacion1;
    animation-duration: 1.5s;
}

#imagen2 {
    margin-top: 15%;
    width: 850px;
    box-shadow: 0 0 20px black;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion2;
}

#image-data2 {
    margin-top: 3%;
    color: #5B7C2B;
    text-align: center;
    margin-bottom: 15%;
    animation-iteration-count: 1;
    animation-name: animacion3;
    animation-duration: 1.5s;
}

/*animacion*/
@keyframes animacion1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animacion2 {
    0% {
        opacity: 0;
        margin-right: 30%;
    }

    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes animacion3 {
    0% {
        opacity: 0;
        margin-left: 30%;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

#apartados h5 a {
    margin-right: 20px;
    transition: color 0.3s ease;
}

#apartados h5 a:hover {
    color: gray;
}

#fila1 {
    background-color: #5B7C2B;

}

#image-data {
    margin-top: 15%;
    margin-right: 5%;
    animation-iteration-count: 1;
    animation-name: animacion1;
    animation-duration: 1.5s;
    color: white;

}

#filaFooter {
    color: green;
    margin-top: 3%;
}


#InicioSesion {
    background-color: #14312F;
    box-shadow: 0 0 20pxw white;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;

}

#mensaje_registrarse{
    
    margin-bottom: 3%;
}
#boton_registrar {
    background: #fff;
    color: #14312F;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    
}

#boton_registrar:hover {
    background: #14312F;
    color: #fff;
}

#boton_registrar:before,
#boton_registrar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #14312F;
    transition: 400ms ease all;
}

#boton_registrar:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#boton_registrar:hover:before,
#boton_registrar:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
#div_registrarse{
    padding-top: 7%;
    background-color: #5B7C2B;
    color: #fff;
    padding-bottom: 7%;
}
#img_agricultor{
    width: 500px;
    height: auto;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion2;
    box-shadow: 0 0 20px black;
}
#img_voluntario{
    width: 500px;
    height: auto;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion3;
    box-shadow: 0 0 20px black;
}
#pregunta_rol{
    padding-bottom: 3%;
}
#h3_agricultor{
    padding-top: 3%;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion2;
}
#h3_voluntario{
    padding-top: 3%;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion3;
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    /* Aquí el estilo de pantallas medianas */

    #divlogo {
        margin-right: 5%;
        padding-right: 5%;
        text-align: center;
        width: 100%;
    }

    #apartados {
        margin-top: 5%;
        margin-bottom: 2%;
        text-align: center;
        margin-left: 5%;
        padding-left: 5%;


    }

    #divimagen1 {

        margin-top: 10%;

    }


    #apartados h5 a {
        margin-bottom: 50%;
    }

    #image-data {
        margin-top: 4%;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15%;
        animation-name: animacion1;
        animation-duration: 1.5s;
        color: white;
    }

    #imagen2 {
        width: 500px;
    }


}