/*ordenar css*/
/* Aquí el estilo de pantallas grandes*/
/* src/components/estilo.css */

#about-main {
    height: 2000px;
    width: 100%;
}

.about-fruta {
    height: 500px;
    border: solid red 1px;
}

.inicio-caption-carousel {
    height: 170px;
}

.inicio-img-carousel {
    margin-top: 100px;
    box-shadow: 0 0 20px black;
    border: solid #fbfefd 3px;
    height: 450px;
}

.inicio-item-carousel {
    height: 800px;
}

#div-carousel {
    background-color: #14302D;
    height: 800px;
    margin-bottom: 5%;
}

.fila-segunda {
    height: 20%;
}

.fila-primera {
    height: 100%;
}

/***CABECERA ESTILO***/
.navbar-cabecera {
    background-color: #fbfefd;
    height: 200px;
}

/******/

.botones-ca-re {
    width: 100%;
    height: 100%;
}

#button-logo {}

#button-ajustes {}

#button-perfil {}

#button-inicio {}

#button-filtros {}

#cabecera-recolecta {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    /* Ancho del navbar */
    height: 100%;
    background-color: #fbfefd;
    /* Mismo color que bg-dark */
}

#cabecera-recolecta .navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#cabecera-recolecta .navbar-nav {
    flex-direction: column;
    width: 100%;
}

#cabecera-recolecta .nav-item {
    width: 100%;
}

#cabecera-recolecta .nav-link {
    color: white;
    /* Color del texto */
    padding: 1rem;
}

#cabecera-recolecta .nav-link:hover {
    background-color: #495057;
    /* Color de fondo al pasar el ratón */
}

body {
    font-family: sans-serif;
    background-color: white;
}

#logo {
    width: 120px;
    height: auto;
    min-width: 80px;
}

img {
    max-width: 100%;
}


#divimagen1 {
    height: 550px;
    margin-left: 0%;
}

#imagen1 {
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 500px;
    margin-top: 8%;
    animation-iteration-count: 1;
    animation-name: animacion1;
    animation-duration: 1.5s;
}

#imagen2 {
    margin-top: 5%;
    width: 850px;
    box-shadow: 0 0 20px black;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion2;
}

#image-data2 {
    margin-top: 3%;
    color: #5B7C2B;
    text-align: center;
    margin-bottom: 5%;
    animation-iteration-count: 1;
    animation-name: animacion3;
    animation-duration: 1.5s;
}

#div_formulario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5B7C2B;
    color: #fff;
    padding: 10%;
    text-align: left;
    animation-iteration-count: 1;
    animation-name: animacion1;
    animation-duration: 1.5s;
}

.form-register {
    width: 400px;
    background-color: #14312F;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: #14312F;
    color: rgba(239, 237, 230, 0.874);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #5B7C2B;
    font-size: 18px;
}

.form-register .botons {
    width: 100%;
    background-color: #5B7C2B;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}

.form-register .botons:hover {
    background-color: #4f6b26;
}

/*animacion*/
@keyframes animacion-registrarse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animacion-agricultor {
    0% {
        opacity: 0;
        margin-right: 30%;
    }

    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes animacion-voluntario {
    0% {
        opacity: 0;
        margin-left: 30%;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes animacion4 {
    0% {
        background-color: #5B7C2B;
    }

    100% {
        background-color: #4f6b26;
    }
}

@keyframes animacion-descripcion {
    0% {
    }

    100% {
    }
}


#fila1 {
    background-color: #5B7C2B;
}

#image-data {
    margin-top: 15%;
    margin-right: 5%;
    animation-iteration-count: 1;
    animation-name: animacion1;
    animation-duration: 1.5s;
    color: white;
}

#filaFooter {
    color: green;
    margin-top: 3%;
}

#InicioSesion {
    background-color: #304D34;
    box-shadow: 0 0 20pxw white;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;

}

#mensaje_registrarse {
    margin-bottom: 3%;
}

#boton_registrar {
    background: #fff;
    color: #14312F;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

#boton_registrar:hover {
    background: #14312F;
    color: #fff;
}

#boton_registrar:before,
#boton_registrar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #14312F;
    transition: 400ms ease all;
}

#boton_registrar:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#boton_registrar:hover:before,
#boton_registrar:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.img-container {
}

.img-descripcion {
    margin-top: 2%;
}

#emoji-agricultor {
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion-agricultor;
    width: 50%;
    height: auto;
    box-shadow: 0 0 20px black;
    transition: transform 0.3s ease-in-out;
    margin-top: 2%;
}

#emoji-voluntario {
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-name: animacion-voluntario;
    width: 50%;
    height: auto;
    box-shadow: 0 0 20px black;
    transition: transform 0.3s ease-in-out;
    margin-top: 2%;
}

#emoji-agricultor:hover {
    transform: scale(1.05);
}

#emoji-voluntario:hover {
    transform: scale(1.05)
}

#opciones-registrarse {
    padding-top: 5%;
}

#registrarse-div {
    padding-top: 5%;
    background-color: #5B7C2B;
    padding-bottom: 8%;
    animation-iteration-count: 1;
    animation-name: animacion-registrarse;
    animation-duration: 1.5s;
    color: #fff;
}

#h3-agricultor {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: animacion-agricultor;
}

#h3-voluntario {
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-name: animacion-voluntario;
}


@media only screen and (min-width: 600px) and (max-width: 1200px) {
    /* Aquí el estilo de pantallas medianas */


    #divimagen1 {
        margin-top: 10%;
    }

    #image-data {
        margin-top: 4%;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15%;
        animation-name: animacion1;
        animation-duration: 1.5s;
        color: white;
    }


}